name: CI/CD Deploy to EC2

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Deploy on EC2
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_IP }} << 'EOF'
          cd ~/flask-docker-demo || git clone https://github.com/hardurathod/flask-docker-demo.git
          cd flask-docker-demo
          git pull origin main
          docker build -t flask-docker-demo .
          docker stop flask-app || true
          docker rm flask-app || true
          docker run -d -p 80:80 --name flask-app flask-docker-demo
          EOF

